<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic Custom Properties</title>
</head>
<body>
  <div id="root">
    <h2>All Tasks</h2>
    <ul>
      <li v-for="task in tasks" v-text="task.description"></li>
    </ul>

    <h2>TODO Tasks</h2>
    <ul>
    <li v-for="task in incompleteTasks" v-text="task.description"></li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#root',
      data: {
        tasks: [
          { description: 'Start Course Vue 2 Step-by-Step', completed: true },
          { description: 'Watch Basic Data Binding', completed: true },
          { description: 'Watch Setup Vue Devtools ', completed: true },
          { description: 'Watch Lists ', completed: true },
          { description: 'Watch Vue Event Listeners ', completed: true },
          { description: 'Watch Attribute and Class Binding', completed: true },
          { description: 'Watch The Need for Computed Properties ', completed: true },
          { description: 'Watch Components 101', completed: false },
          { description: 'Watch Components Within Components', completed: false },
          { description: 'Watch Practical Component Exercise #2: Modal ', completed: false }
        ]
      },
      computed: {
        incompleteTasks() {
          return this.tasks.filter( (task) => ! task.completed)
        }
      }
    });
  </script>

</body>
</html>
